<div class="blogpost">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="blog-title">Exploring the Unexplored: A Journey to the Unknown</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12" *ngFor="let post of posts">
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text">
                <small class="text-muted">By {{ post.author }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  