#image-top{
    width:100%;
    height:500px;
    object-fit:cover;
}

.card-image-travelguide{
   width: 100%;
   height: 20vw;
   display:block;
   position: static;
   object-fit: cover;
 }

#feedback-container{
 display: flex;
 justify-content: center;
}
